/**
 *  maxxidom Timer v1.0.1
 *  Autor: Alexander Bechthold
 *  Date: 02.10.2017
 *  Update: 19.10.2017
 *  Licensed under the MIT license
 */


.MaxxidomTimer-hours, .MaxxidomTimer-mins {
  position: relative;
  padding-right: 7px;
  margin-right: 3px;
}
.MaxxidomTimer-hours::after, .MaxxidomTimer-mins::after{
  display: block;
  position: absolute;
  content: ':';
  top: -3px;
  right: 0;
}